# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# data folder 
data/*

#venv 
*.env

#notebook stuff
*.ipynb_checkpoints/
*.ipynb

#data files
*.tif
*.tiff
*.jpg
*.jpeg
*.gif
*.nc
*.hdf5
*.cpg
*.dbf
*.gpkg
*.prj
*.shp
*.shx
*.gdb
*.zip
*.tar.gz
*.7z*
*.zip
*.rar
*.qmd
.~lock.*
